<div class="footer">
  <div class="describe">
    <div class="about">
      <h2>關於 六角西餐廳</h2>
      <p>Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. </p>
    </div>
    <div class="connect">
      <h2>聯絡方式</h2>
      <ul>
        <li>高雄市中正五路到底</li>
        <li>+886 886 886</li>
        <li>service{{'@hexschool'}}.com</li>
      </ul>
    </div>
  </div>
  <div class="logo">
    <img src="/assets/images/logo_l@svg.svg"/>
    <ul>
      <li><a href="#"><img src="/assets/images/google-plus-logo-svgrepo-com.svg"/></a></li>
      <li><a href="#"><img src="/assets/images/twitter-svgrepo-com.svg"/></a></li>
      <li><a href="#"><img src="/assets/images/facebook-color-svgrepo-com.svg"/></a></li>
    </ul>
  </div>
</div>